@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,800);

a {
  color: #000;
}
a:visited {
  color: #222;
}
a:hover {
  color: #fff;
  background-color: #000;
}

body {
  background-color: #fff;
  color: #222;
  font-family: verdana, arial, helvetica, sans-serif;
  font: 1em 'Helvetica Neue';
  line-height: 18px;
  font-size: 16px;
  padding: 5px;
}

/* ---------- Sidebar ---------- */
#sidebar {
  float: left;
  max-width: 18em;
}
#sidebar h1 {
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 0;
  color: #000000;
}
#sidebar h2 {
  font: 1.2em 'Helvetica Neue';
  color: #0061ff;
  margin-bottom: 0;
}
#sidebar .contact_info {
  margin-left: 1em;
  font-size: 1.2em;
}

/* ---------- Main Content ---------- */
.content {
  margin-top: 10px;
  margin-left: 18em;
  width: 750px;
}
.section {
  position: relative;
}
.section h1 {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 1.2em;
  font-weight: 600;
  color: #0061ff;
}
span.when {
  float: right;
}
span.gpa {
  position: absolute;
  width: 150px;
  right: 300px;
  text-align: right;
}
.plaintext_list {
  list-style-type: none;
  margin: 4px 0.0px 8.0px 8.0px;
  font-size: 1em;
}
.content ul {
  margin-top: 2px;
}
.content li {
  font-size: 1em;
}
.content h2 {
  font-size: 1em;
  margin: 0px;
}
span.subtitle {
  font-size: .8em;
}

/* ---------- Footer ---------- */

.footer {
  font: .8em Arial;
}

@media all {
  .printonly {
    display: none;
  }
}
@media print {
  a {
    font-size: 1em;
    text-decoration: none;
    color: #222;
  }

  .printonly {
    display: block;
  }

  body {
    padding-left: 0px;
    margin: 0px;
  }
}
